.page {
    &-header {
        background-color: $white;
        border-bottom: 1px solid #e2e3e4;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        z-index: 10;
        @include media-breakpoint-up(lg) {
            border-bottom: none;
            padding-top: 0;
            padding-bottom: 0;
        }
        &-container {
            display: flex;
            align-items: center;
            @include media-breakpoint-up(lg){
                align-items: flex-start;
            }
        }
        &-body {
            flex: 1;
            margin-right: 1.5rem;
            position: relative;
            display: flex;
            align-items: center;
            @include media-breakpoint-up(lg) {
                border-bottom: 1px solid #e2e3e4;
                padding:10px 0 12px 0;
                display: block;
                margin-right: 145px;
            }
        }

        &-tagline {
            color: $gray-600;
            @include media-breakpoint-up(lg) {
                margin-bottom: 2px;
            }
        }

        &-brand {
            position: relative;
            &-icon {
                position: relative;
                display: block;
                height: 50px;
                @include media-breakpoint-up(lg) {
                    position: absolute;
                    right: 0;
                    width: 145px;
                    height: 82px;
                    top: 5px;
                }
            }
        }
        &-navbar {
            @include media-breakpoint-down(md) {
                position: fixed;
                left: 0;
                top: 61px;
                bottom: 0;
                width: 260px;
                background-color: $primary;
                transition: all 400ms;
                z-index: 110;
                box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.35);
                display: flex;
                flex-direction: column;
                transform: translateX(-120%);
                visibility: hidden;
            }
        }

        &-nav {
            list-style: none;
            margin: 0 ;
            padding: 0;
            overflow: auto;
            height: 100%;
            @include media-breakpoint-up(lg) {
                display: flex;
                margin: 0 -$grid-gutter-width/4;
                overflow: inherit;
            }
            &-item {
                @include media-breakpoint-down(md) {
                    border-bottom: 1px solid #586f87;
                }
                &.show {
                    .page-header-nav-dropdown {
                        visibility: inherit;
                        opacity: 1;
                        transform: translateX(0);
                        @include media-breakpoint-up(lg) {
                            transform: translateY(0);
                        }
                    }
                }
            }
            &-link {
                font-family:"MANEurope Condensed";
                color: $gray-500;
                padding: .875rem $grid-gutter-width/2;
                display: block;
                @include media-breakpoint-up(lg) {
                    color: $primary;
                    margin-right: .625rem;
                    padding: .625rem $grid-gutter-width/4;
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: 700;
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                }
                @include hover-focus {
                    color: $red;
                    text-decoration: none;
                }
            }
            &-dropdown {
                display: block;
                visibility: hidden;
                left: 0;
                right: 0;
                box-shadow: 0 6px 8px 0 rgba(0,0,0,.2);
                min-width: auto;
                margin-top: 0;
                opacity: 0;
                border:0 solid transparent;
                transition: 0.2s opacity, 0.2s transform, 0.2s visibility;
                @include media-breakpoint-down(md) {
                    height: 100%;
                    overflow: auto;
                    background-color: $primary;
                    top: 0;
                    bottom: 0;
                    padding: 0;
                    transform: translateX(-100%);
                }
                @include media-breakpoint-up(lg) {
                    transform: translateY(10px);
                    padding: .5rem 10px 20px;
                }

                &-nav {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    @include media-breakpoint-down(md) {
                        position: absolute;
                        top: 51px;
                        bottom: 0;
                    }
                    .dropdown {
                        position: static;
                    }
                }
                &-name {
                    color: $white;
                    font-weight: normal;
                    margin-bottom: 0;
                    font-family: "MANEurope Condensed";
                    @include media-breakpoint-down(md) {
                        cursor: pointer;
                        background-color: $c-pigeon-blue;
                        padding: .875rem $grid-gutter-width/4;
                    }
                    @include media-breakpoint-up(lg) {
                        margin-bottom: 1rem;
                        padding: 0;
                        color: $primary;
                        font-size: $h4-font-size-md;
                    }
                }
                &-link {
                    display: block;
                    padding: .875rem $grid-gutter-width/2;
                    border-top: 1px solid;
                    border-color: $c-pigeon-blue;
                    font-family: "MANEurope Condensed";
                    font-size: 14px;
                    color: $gray-500;
                    @include media-breakpoint-up(lg) {
                        color: $primary;
                        border-color: $gray-300;
                        padding: 10px 15px 10px 0;
                    }
                    @include hover-focus {
                        color: $red;
                        text-decoration: none;
                    }
                }
                &-submenu {
                    box-shadow: none;
                    right: auto;
                    padding-top: 0;
                    padding-bottom: 0;
                    border: none;
                    top: 0;
                    margin: 0;
                    transition: 0.2s opacity, 0.3s transform, 0.3s visibility;
                    height: 100%;
                    @include media-breakpoint-down(md) {
                        left: 0;
                        right: 0;
                        background-color: $primary;
                        top: 0;
                        bottom: 0;
                        padding: 0;
                        transform: translateX(-100%);
                        display: block;
                        visibility: hidden;
                        overflow-y: auto ;
                    }
                    @include media-breakpoint-up(lg) {
                        min-width: 230px;
                        left: 100%;
                        transform: translateX(20px);
                        display: none;
                    }
                    &.show {
                        @include media-breakpoint-down(md) {
                            transform: translateX(0);
                            visibility: inherit;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.page-header-toggler {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    position:relative;
    cursor:pointer;
    background: $light;
    border-radius:5px;
    transition: .25s ease-in-out;
    &:after {
        content: "";
        opacity: 0;
        transition: opacity .2s;
    }
    &:hover {
        background: darken($light, 4%);
    }
    span {
        display:block;
        background: $dark;
        border-radius:2px;
        transition: .25s ease-in-out;
    }
    .page-header-toggler-hamburger {
        position:absolute;
        height:100%;
        width:100%;
        span {
            width:30px;
            height:4px;
            position:relative;
            top:5px;
            left:5px;
            margin:5px 0;
            &:nth-child(1){
                transition-delay:.5s;
            }
            &:nth-child(2){
                transition-delay:.625s;
            }
            &:nth-child(3){
                transition-delay:.75s;
            }
        }
    }
    .page-header-toggler-cross {
        position:absolute;
        height:100%;
        width:100%;
        transform:rotate(45deg);
        span{
            &:nth-child(1){
                height:0%;
                width:4px;
                position:absolute;
                top:10%;
                left:18px;
                transition-delay:0s;
            }
            &:nth-child(2){
                width:0%;
                height:4px;
                position:absolute;
                left:10%;
                top:18px;
                transition-delay:.25s;
            }
        }
    }
}

.page-header-toggler.open {
    .page-header-toggler-hamburger {
        span {
            width:0%;
            &:nth-child(1){
                transition-delay:0s;
            }
            &:nth-child(2){
                transition-delay:.125s;
            }
            &:nth-child(3){
                transition-delay:.25s;
            }
        }
    }
    .page-header-toggler-cross {
        span {
            &:nth-child(1){
                height:80%;
                transition-delay:.625s;
            }
        }
        span {
            &:nth-child(2){
                width:80%;
                transition-delay:.375s;
            }
        }
    }
    &:after {
        opacity: 1;
        background-color: transparentize($dark, .5);
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 61px;
    }
}

.state-menu-active {
    height: 100vh;
    overflow: hidden;
    .page-header-navbar {
        transform: translateX(0);
        visibility: visible;
    }
}
@include media-breakpoint-down(md) {
    .page-header-xs-toggle {
        > a {
            display: flex;
            justify-content: space-between;

            &:after {
                content: $icon-link_arrow_outline_right;
                font-family: 'man_icon' !important;
                speak: none;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;

                /* Better Font Rendering =========== */
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                position: relative;
                top: 3px;
                color: currentColor;
            }
        }
    }
}