section.py-3(id= layout.cards.id)
	+section_title(layout.cards.title)
	.py-4
		.form-row
			.col-lg-4
				.card
					img.card-img-top(src='../img/test.jpg', alt='...')
					.card-body
						h5.card-title Card title
						p.card-text
							| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
						a.btn.btn-primary(href='#') Go somewhere
			.col-lg-4
				.card
					img.card-img-top(src='../img/test.jpg', alt='...')
					.card-body
						h5.card-title Card title
						p.card-text
							| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
						a.btn.btn-primary(href='#') Go somewhere
			.col-lg-4
				.card
					img.card-img-top(src='../img/test.jpg', alt='...')
					.card-body
						h5.card-title Card title
						p.card-text
							| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
						a.btn.btn-primary(href='#') Go somewhere