section.py-3(id= layout.divider.id)
	+section_title(layout.divider.title)
	.py-4
	.flexbox
		ul.functional-divider-footer
			li
				a.link(href='#') Lorem ipsum dolor.
			li
				a.link(href='#') Facilis, maiores, veritatis!
			li
				a.link(href='#') Consectetur, illum, voluptas.
			li
				a.link(href='#') Iusto necessitatibus, neque.
			li
				a.link(href='#') Fugiat, perspiciatis, tempora.
			li
				a.link(href='#') Editorial content lightbox

		.functional-divider-footer_btn-group
			h3 Functional Divider Footer Button Group
			ul
				li
					a.link.icon-intern(href='#') Lorem ipsum dolor.
				li
					a(href='#') Facilis, maiores, veritatis!
				li
					a(href='#') Consectetur, illum, voluptas.
				li
					a.link.icon-intern(href='#') Iusto necessitatibus, neque.
				li
					a.link.icon-extern(href='#') Fugiat, perspiciatis, tempora.
