section.py-3(id= layout.icons.id)
	+section_title(layout.icons.title)
	.py-4
		.row
			each value in icons
				.col-4.d-flex.align-items-center
					i.h2.mr-2.icon(class='icon-' +value)
					span icon-
						=value
		.row.h2
			.col-4
				i.icon.icon-social-facebook
					span.path1
					span.path2
			.col-4
				i.icon.icon-social-flickr
					span.path1
					span.path2
					span.path3
					span.path4
			.col-4
				i.icon.icon-social-google
					span.path1
					span.path2
			.col-4
				i.icon.icon-social-instagram
					span.path1
					span.path2
			.col-4
				i.icon.icon-social-linkedin
					span.path1
					span.path2
			.col-4
				i.icon.icon-social-twitter
					span.path1
					span.path2
			.col-4
				i.icon.icon-social-xing
					span.path1
					span.path2
					span.path3
					span.path4
			.col-12
				i.icon.icon-balloon_top