include ../../pug/mixin/cardVertical

section.py-3(id= layout.slick.id)
	+section_title(layout.slick.title)

	.py-5
		.row.card-carousel.js_card-carousel
			.col-md-6.col-lg-4.card-carousel-item
				+cardVertical('О нас', 'Компания "Авто Флот" является частью дилерской сети и сервисных станций MAN в России, специализируется на продаже и обслуживании грузовых автомобилей MAN, а также автобусов MAN и Neoplan, предоставляя клиентам услуги по диагностике, ремонту и сервисной поддержке.')

			.col-md-6.col-lg-4.card-carousel-item
				+cardVertical('Услуги', 'Безусловно, курс на социально-ориентированный национальный проект однозначно определяет каждого участника как способного принимать собственные решения касаемо поставленных обществом задач.')

			.col-md-6.col-lg-4.card-carousel-item
				+cardVertical('О нас', 'Компания "Авто Флот" является частью дилерской сети и сервисных станций MAN в России, специализируется на продаже и обслуживании грузовых автомобилей MAN, а также автобусов MAN и Neoplan, предоставляя клиентам услуги по диагностике, ремонту и сервисной поддержке.')
