extends layout/page

include mixin/cardHorisontal

block variables
	- var title = 'О компании "Авто Флот"'

block head

block header

block content
	.page-image.embed-responsive.embed-responsive-21by9(style="background-image: url(/img/Avtobusy-turist.jpg);")

	section.top-position

	.container

		+breadcrumb('О компании "Авто Флот"', [])

		.component
			h1.mb-4 О компании "Авто Флот

			p Каждый владелец или управляющий автопарком стремится к оптимизации бизнес-процессов и сокращению издержек. Компания "Авто Флот" прекрасно понимает Ваше стремление, и это не пустые слова.
			p История нашей компании началась много лет назад с автомобильных грузоперевозок, которыми занимались собственники бизнеса. Бизнес развивался, автопарк разрастался, а с ним ширилось количество возникающих трудностей. Именно опыт управления большими автопарками, опыт использования различных моделей и марок грузового транспорта позволил нам сделать правильный выбор. Мы отдали свое предпочтение грузовым автомобилям MAN. В этом нас убедили не глянцевые каталоги, а реальный опыт эксплуатации и обслуживания этих машин.
			.row
				.col-lg-7.mb-3
					p Сегодня компания "Авто Флот" - единственный официальный дилер "МАН Трак энд Бас РУС" на территории Перми и Пермского края.
					p С 2011 года мы регулярно подтверждаем перед партнерами наш статус, осуществляя продажи и обслуживание техники MAN по европейским стандартам.
					p Рады предложить Вам транспортные решения MAN для любых целей и задач: от новых и подержанных грузовых автомобилей MAN легкого ряда и прицепной техники до туристических автобусов Neoplan.
					p Поможем выгодно приобрести автотехнику, используя лизинговые программы от наших партнеров.

				.col-lg-5.mb-3
					img.img-fluid(src="/img/test_2.jpg" alt="")
			p Самым главным ресурсом сегодня является время. Мы делаем все, чтобы сократить время простоя вашего транспорта. Владельцы и водители грузовых автомобилей MAN, автобусов MAN и Neoplan по достоинству оценят склад оригинальных запасных частей, где в наличии всегда имеются запчасти более 10 000 наименований. Сервисный центр компании размещается на площади 2500 кв.м, и одновременно может обслуживать до 12 автопоездов. Нами осуществляется гарантийное и послегарантийное техническое обслуживание и ремонт техники MAN. Центр оснащен оригинальным оборудованием и инструментом.
			p Ведущие технические специалисты компании регулярно проходят обучение у наших партнеров в России, Германии, Австрии.

			.card.bg-light
				.card-body
					.h3 Вам дороги время и средства?
					p Используйте высококачественную технику MAN, обслуживайте ее у официального дилера, используйте оригинальные запчасти и расходные материалы. Именно такой подход в долгосрочной перспективе сделает ваш бизнес более рентабельным и конкурентоспособным.



	section.bottom-position
		.functional-divider.my-5

		include module/news
		include module/bottom_contact

block footer

