extends layout/page

block variables
	- var title = 'Contentpage'

block head

block header

block content
	.page-image.embed-responsive.embed-responsive-21by9(style="background-image: url(/img/Avtobusy-turist.jpg);")

	section.top-position

	.container

		+breadcrumb('Dropdown 3.4', ['Грузовые автомобили', 'Dropdown 1', 'Dropdown 2.1'])

		.component.editorial-content
			h1.mb-4 Contentpage

			.row
				.col-lg-6
					p Но многие известные личности набирают популярность среди определенных слоев населения, а значит, должны быть ограничены исключительно образом мышления. Как уже неоднократно упомянуто, элементы политического процесса, инициированные исключительно синтетически, объединены в целые кластеры себе подобных. Но сплоченность команды профессионалов способствует повышению качества стандартных подходов.

					ul
						li Aspernatur blanditiis consectetur doloremque, ducimus fuga laudantium, molestias necessitatibus nesciunt, nulla pariatur placeat ratione sunt.

						li Consectetur adipiscing elit
						li Integer molestie lorem at massa
						li Facilisis in pretium nisl aliquet
						li
							| Nulla volutpat aliquam velit
							ul
								li Phasellus iaculis neque
								li Purus sodales ultricies
								li Vestibulum laoreet porttitor sem
								li Ac tristique libero volutpat at
						li Faucibus porta lacus fringilla vel
						li Aenean sit amet erat nunc
						li Eget porttitor lorem

				.col-lg-6
					p С другой стороны, сложившаяся структура организации, в своем классическом представлении, допускает внедрение вывода текущих активов. Но многие известные личности набирают популярность среди определенных слоев населения, а значит, должны быть ограничены исключительно образом мышления. Как уже неоднократно упомянуто, элементы политического процесса, инициированные исключительно синтетически, объединены в целые кластеры себе подобных. Но сплоченность команды профессионалов способствует повышению качества стандартных подходов.
					p С другой стороны, сложившаяся структура организации, в своем классическом представлении, допускает внедрение вывода текущих активов. Но многие известные личности набирают популярность среди определенных слоев населения, а значит, должны быть ограничены исключительно образом мышления. Как уже неоднократно упомянуто, элементы политического процесса, инициированные исключительно синтетически, объединены в целые кластеры себе подобных. Но сплоченность команды профессионалов способствует повышению качества стандартных подходов.



		.component-bottom-position
			include module/special_offers



	section.bottom-position
		.functional-divider.my-5

		include module/news
		include module/bottom_contact

block footer

