doctype html

html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(name="description" content="")
		meta(name="author" content="")
		title #{title}

		link(href="css/theme.css" rel="stylesheet")
		script(src="js/jquery.min.js")
		script(src="js/modernizr_js.js")

	body
		.container.py-5
			.row.justify-content-center.pt-5
				.col-6
					.list-group
						a.list-group-item.list-group-item-action(href='/index.html') Главная
						a.list-group-item.list-group-item-action(href='/about.html') О нас
						a.list-group-item.list-group-item-action(href='/contact.html') Контакты
						a.list-group-item.list-group-item-action(href='/news.html') Новости
						a.list-group-item.list-group-item-action(href='/price_list.html') Прайс лист
						a.list-group-item.list-group-item-action(href='/service.html') Услуги
						a.list-group-item.list-group-item-action(href='/spare.html') Запчасти
						a.list-group-item.list-group-item-action(href='/contentpage.html') Contentpage




