extends layout/page

include mixin/cardHorisontal

block variables
	- var title = 'Запчасти'

block head

block header

block content
	.page-image.embed-responsive.embed-responsive-21by9(style="background-image: url(/img/Avtobusy-turist.jpg);")

	section.top-position

	.container

		+breadcrumb('Запчасти', [])

		.component
			article.editorial-content
				h1.mb-4 Оригинальные запасные части MAN
				p Решающий фактор надежной работы двигателя и техники — оптимальное взаимодействие всех компонентов. Оригинальные запчасти MAN отвечают этому требованию.
				p Оригинальное масло MAN — неотъемлемая часть комплексного предложения MAN по повышению качества эксплуатации автомобилей: продолжительные стендовые и полевые испытания продемонстрировали, что оригинальные смазочные материалы MAN надежно защищают двигатели, коробки передач, ведущие оси и раздаточные коробки от износа, продлевают срок их службы, предотвращают образование отложений и сокращают общие эксплуатационные расходы.
				p Техническое устройство узлов и агрегатов современной техники требует применения специальных смазочных материалов, обладающих высокими эксплуатационными характеристиками для максимально эффективной работы высокотехнологичных автомобилей MAN. Масло должно обеспечивать надежную работу смазываемых узлов даже в самых экстремальных условиях и при продолжительной эксплуатации. Мы провели множество испытаний длиной в многие годы и протяженностью в миллионы километров. Мы испытали на прочность самые разные смазочные материалы в двигателях, коробках передач, ведущих осях и раздаточных коробках. Для производства оригинальных смазочных материалов MAN были отобраны исключительно те рецептуры, которые продемонстрировали надежность и эффективность в ходе всех циклов испытаний. Оригинальные смазочные материалы MAN надежно защищают технику MAN от износа и увеличивают интервалы межсервисного обслуживания. Кроме того, они продлевают срок службы двигателей, коробок передач и осей и снижают общие эксплуатационные расходы. Благодаря специальным технологиям, оригинальные смазочные материалы MAN также способствуют сокращению расхода топлива и объема выбросов CO<sub>2</sub>.

				h3 Эффективность оригинального масла MAN
				ul
					li Доказана в ходе эксплуатационных испытаний техники MAN
					li Подтверждена ресурсными испытаниями в течение многих лет и миллионов километров пробега
					li Позволяет обеспечить защиту от износа и образования отложений
					li Продлевает срок службы двигателя, коробки передач и осей

				h3 Оригинальные моторные масла MAN
				p К современным двигателям предъявляются строгие требования в отношении мощности и надежности. Смазочные материалы должны обеспечивать максимально эффективную работу современных двигателей. Даже в экстремальных условиях масло должно надежно смазывать и защищать от износа детали двигателя, при этом обеспечивать низкий уровень выбросов, чтобы не навредить окружающей среде. Наши высококачественные моторные масла гарантированно обеспечивают надежную и эффективную работу двигателей MAN в различных условиях эксплуатации.

				h3 Почему стоит выбрать оригинальное моторное масло MAN?
				.row
					.col-auto.mb-3
						img(src="http://man-vologda.ru/wp-content/uploads/2018/09/MAN_GenuineOil_Motoroel_width_360_height_270-300x225.png" alt="MAN_GenuineOil_Motoroel_width_360_height_270-300x225")
					.col-md
						ul
							li Интервал сервисного обслуживания до 140 000 км
							li Интервал сервисного обслуживания сажевого фильтра для дизельного двигателя до 850 000 км
							li Высокая эффективность и мощность при низком расходе масла
							li Предотвращение образования осадка за счет чистящего эффекта
							li Способствует экономии топлива и сокращает выбросы CO2
							li Помогает снизить общие эксплуатационные расходы
							li Поставляется в том числе в практичной канистре 5 л

				h3 Оригинальное трансмиссионное масло MAN
				p Коробка передач передает мощность двигателя на ведущие колеса. Максимальный коэффициент полезного действия достигается только при ее бесперебойной работе. Решающее значение имеет трансмиссионное масло. Эксплуатационные испытания показали, что оригинальное трансмиссионное масло MAN обеспечивает эффективную работу трансмиссий MAN даже в экстремальных условиях.

				h3 Почему стоит выбрать оригинальное трансмиссионное масло MAN?
				.row
					.col-auto.mb-3
						img(src="http://man-vologda.ru/wp-content/uploads/2018/09/MAN_GenuineOil_Getriebeoel_width_360_height_270-300x225.png" alt="MAN_GenuineOil_Getriebeoel_width_360_height_270-300x225")
					.col-md
						ul
							li Интервал сервисного обслуживания до 140 000 км
							li Интервал сервисного обслуживания сажевого фильтра для дизельного двигателя до 850 000 км
							li Высокая эффективность и мощность при низком расходе масла
							li Предотвращение образования осадка за счет чистящего эффекта
							li Способствует экономии топлива и сокращает выбросы CO2
							li Помогает снизить общие эксплуатационные расходы
							li Поставляется в том числе в практичной канистре 5 л

				h3 Оригинальное осевое масло MAN
				p Финальная передача усилия в трансмиссии осуществляется приводными осями и раздаточными коробками. Только наилучшие показатели их работы способствуют достижению оптимального коэффициента полезного действия грузового автомобиля MAN даже в экстремальных условиях. Необходимый фактор такой производительности — идеально подобранное к механизмам масло: оригинальное осевое масло MAN.

				h3 Почему стоит выбрать оригинальное осевое масло MAN?
				.row
					.col-auto.mb-3
						img(src="http://man-vologda.ru/wp-content/uploads/2018/09/MAN_GenuineOil_Achsoel_width_360_height_270-300x225.png" alt="MAN_GenuineOil_Achsoel_width_360_height_270-300x225")
					.col-md
						ul
							li Длительный срок службы приводных осей и раздаточных коробок даже в экстремальных условиях эксплуатации и при низкой температуре окружающего воздуха
							li Высокая эффективность и производительность
							li Предотвращение образования осадка за счет чистящего эффекта
							li Стойкость к окислению и термическая стабильность даже при больших интервалах замены масла
							li Способствует экономии топлива и сокращению выбросов CO2
							li Помогает снизить общие эксплуатационные расходы
							
	section.bottom-position
		.functional-divider.my-5

		include module/news
		include module/bottom_contact

block footer