include ../mixin/cardHorisontal

.module
	.container
		.module-header
			.module-title Новости
			p Ключевые особенности структуры проекта преданы социально-демократической анафеме.
		.module-body
			.card-horisontal-carousel.js_card-horisontal-carousel.row
				.col-md-6.col-lg-12.card-horisontal-carousel-item
					+cardHorisontal('Акция на оригинальные запасные части MAN "Прочность и долговечность"', 'Понимание сути ресурсосберегающих технологий создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса приоритизации разума над эмоциями.')

				.col-md-6.col-lg-12.card-horisontal-carousel-item
					+cardHorisontal('Акция на оригинальные запасные части MAN "Прочность и долговечность"', 'Понимание сути ресурсосберегающих технологий создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса приоритизации разума над эмоциями.')

			.mt-5.mt-lg-0
				a.btn.btn-secondary(href="#") Показать все
