include ../mixin/cardVertical

.module
	.module-header
		.module-title Special Offers
		p Headline orem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod.


	.module-body
		.row.card-carousel.js_card-carousel
			.col-md-6.col-lg-4.card-carousel-item
				+cardVertical('Изделие 40', 'В рамках спецификации современных стандартов, сделанные на базе интернет-аналитики выводы призывают нас к новым свершениям, которые, в свою очередь, должны быть представлены в исключительно положительном свете.')

			.col-md-6.col-lg-4.card-carousel-item
				+cardVertical('Изделие 35', 'Мы вынуждены отталкиваться от того, что выбранный нами инновационный путь однозначно определяет каждого участника как способного принимать собственные решения касаемо приоритизации разума над эмоциями.')

			.col-md-6.col-lg-4.card-carousel-item
				+cardVertical('Изделие 27', 'В своем стремлении повысить качество жизни, они забывают, что сложившаяся структура организации в значительной степени обусловливает важность экспериментов, поражающих по своей масштабности и грандиозности.')